* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  place-content: center;
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  color: hsl(0, 0%, 100%);
}

.card {
  width: 327px;
  min-height: 501px;
  border-radius: 0.8rem;
  background-color: hsl(0, 0%, 12%);
}
